<div class="sidebar">

    <div class="logo">

        CTO Manager

    </div>

    <a href="/">

        <i class="fas fa-house"></i>

        Dashboard

    </a>

    <a href="/clientes/">

        <i class="fas fa-users"></i>

        Clientes

    </a>

    <a href="/ctos/">

        <i class="fas fa-network-wired"></i>

        CTOs

    </a>

    <a href="/admin/planos/planointernet/">

        <i class="fas fa-wifi"></i>

        Planos

    </a>

    <a href="#">

        <i class="fas fa-money-bill-wave"></i>

        Financeiro

    </a>

    <a href="/financeiro/inadimplentes/">

        🔴 Inadimplentes

    </a>

    <a href="/financeiro/fluxo/">

        💰 Fluxo de Caixa

    </a>

    <a href="/financeiro/dashboard/">

        📊 Dashboard Financeiro

    </a>

    <a href="#">

        <i class="fas fa-chart-line"></i>

        Relatórios

    </a>

    <a href="#">

        <i class="fas fa-gear"></i>

        Configurações

    </a>

    <hr>

    <a href="/logout/">

        <i class="fas fa-right-from-bracket"></i>

        Sair

    </a>

</div>