{% extends 'base/base.html' %}

{% block title %}
Erro
{% endblock %}

{% block content %}

<div class="container-fluid">

<div class="alert alert-danger">

<h3>

❌ Não foi possível excluir esta CTO

</h3>

<hr>

<p>

Existem

<strong>

{{ quantidade_clientes }}

</strong>

cliente(s) utilizando esta CTO.

</p>

<p>

Remova ou transfira os clientes antes da exclusão.

</p>

<br>

<a
href="/ctos/{{ cto.id }}/"
class="btn btn-primary">

Voltar para CTO

</a>

<a
href="/ctos/"
class="btn btn-secondary">

Lista de CTOs

</a>

</div>

</div>

{% endblock %}