{% extends 'base/base.html' %}

{% block title %}
Nova CTO
{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="card">

        <div class="card-header bg-success text-white">

            <h3>
                📡 Nova CTO
            </h3>

        </div>

        <div class="card-body">

            <form method="POST">

                {% csrf_token %}

                {{ form.as_p }}

                <hr>

                <button class="btn btn-success">

                    💾 Salvar CTO

                </button>

                <a href="/ctos/" class="btn btn-secondary">

                    Cancelar

                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}